:root {
    --ec-scaledbutton: min(30px, 3vmax);
    --ec-scaledbuttonLess: min(20px, 2vmax);
}

.explore-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    padding: 0 0 var(--ec-scaledbuttonLess) var(--ec-scaledbuttonLess);
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: calc(var(--ec-scaledbutton) * 0.5);
}

.ec-button {
    border-radius: 1000px;
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: calc(var(--ec-scaledbutton) * 0.4);
    background-color: #0004;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s;
}
.ec-button:hover {
    background-color: rgba(40, 56, 98, 0.533);
    box-shadow: 0 0 0 calc(var(--ec-scaledbutton) * 0.1) var(--primaryColorTransparent);
}
.ec-btn-disabled {
    cursor: default;
    opacity: 0.2;
}
.ec-btn-disabled:hover {
    background-color: #0004 !important;
    box-shadow: none !important;
}

.ec-btn-icon {
    filter: invert(1);
    width: var(--ec-scaledbutton);
}

.ec-info {
    font-size: calc(var(--ec-scaledbuttonLess));
    color: #8888;
}