.centered-popup-backdrop {
    position: fixed;
    height: calc(100vh - var(--menuBarHeight));
    padding: min(3%, 30px) min(4%, 20px);
    width: 100%;
    background-color: #0002;
    z-index: 1000;
    box-sizing: border-box;
    overflow-y: auto;
}

.popup-body-container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes popupAppear {
    0% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-body {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    animation: popupAppear 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 8px #0003;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 800;
    font-family: var(--displayFont);
}
.popup-content {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: var(--paragraphFont);
}
.cp-fontsizer {
    font-size: 16px;
}
/* Increase font size a bit on small screens */
@media screen and (max-width: 500px) {
    .popup-header {
        font-size: 26px;
    }
    .popup-content {
        font-size: 20px;
    }
    .hpoup-header-title {
        font-size: 26px;
    }
    .hpopup-content {
        font-size: 20px;
    }
    .cp-fontsizer {
        font-size: 20px;
    }
}

.hpopup-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    animation: popupAppear 0.2s ease;
    color: #000;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 8px #0003;
}

.hpopup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 15px;
    column-gap: 10px;
    border-bottom: 2px solid #0003;
}
.hpopup-header-title {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--displayFont);
}
.hpopup-header-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
}
.hpopup-header-close-button:hover {
    background-color: #0001;
    cursor: pointer;
}
.hpopup-header-close-icon {
    font-size: 20px;
    height: 25px;
    width: 25px;
    filter: invert(0.5);
}
.hpopup-content {
    overflow-y: auto;
    height: fit-content;
    padding: 15px;
    font-family: var(--paragraphFont);
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
}